/* REMOVE BACKGROUND IMAGE */
body {
    background-image    : none !important;
    background-color    : var(--ut-body-main-background-color);
}



/* HIDE HEADER ON MODAL DIALOG PAGES */
/* USE HERO FOR TITLE AND CUSTOM BUTTONS */
.ui-dialog-titlebar {
    border-bottom       : 0;
    margin-bottom       : 0;
}
.ui-dialog-titlebar > * {
    display             : none;
}



/*
 * ADJUST MODAL + DRAWER DIALOGS
 */
body.t-Dialog-page .t-Dialog-header,
body.t-Drawer-page .t-Dialog-header {
    margin              : 0.9rem 0.8rem -1rem;
    margin-top          : 0 !important;
}
body.t-Dialog-page .t-HeroRegion,
body.t-Drawer-page .t-HeroRegion {
    margin              : 0 !important;
    padding             : 0.3rem 0.5rem 0.5rem !important;
}
body.t-Drawer-page .t-HeroRegion {
    margin-bottom       : 0 !important;
    padding             : 0.3rem 1.25rem 0 !important;
}
body.t-Dialog-page .t-HeroRegion .t-HeroRegion-buttons:empty,
body.t-Drawer-page .t-HeroRegion .t-HeroRegion-buttons:empty {
    display             : none;
}
body.t-Dialog-page .t-HeroRegion .t-HeroRegion-icon,
body.t-Drawer-page .t-HeroRegion .t-HeroRegion-icon {
    display             : none;
}
body.t-Dialog-page .t-HeroRegion-col--beforeIcon,
body.t-Drawer-page .t-HeroRegion-col--beforeIcon {
    order               : 5;
    margin              : -0.15rem 0 0;
}
body.t-Dialog-page .t-HeroRegion-col--beforeIcon button,
body.t-Drawer-page .t-HeroRegion-col--beforeIcon button {
    margin-top          : 0 !important;
}

/* MODAL DIALOG, REMOVE THE IMAGE AND PADDING AT TOP */
.ui-dialog .ui-dialog-titlebar {
    -webkit-padding-before  : 0.6rem;
    padding-block-start     : 0.6rem;
}
.ui-dialog .ui-dialog-titlebar:before {
    background-image        : none;
}
.ui-dialog .ui-dialog-titlebar:before {
    /* background: gray; */
}



/* HERO REGION */
.t-HeroRegion {
    padding             : 0.75rem 0.5rem 1rem;
}
.t-HeroRegion.SECOND {
    margin-top          : 3rem;
}
h1.t-HeroRegion-title {
    font-size           : 1.8rem;
    line-height         : 150%;
}

/* HERO REGION - HIDE ICONS */
.t-HeroRegion .t-HeroRegion-icon {
    display             : none;
}

/* HERO REGION - HIDE RIGHT PART */
.t-HeroRegion .t-HeroRegion-col--right {
    display             : none;
}

/* HERO REGION - ADJUST BUTTONS */
h1.t-HeroRegion-title button {
    position            : relative;
    top                 : -0.2rem;      /* FIX BUTTON OFFSET */
    margin-left         : 0.4rem !important;
}
h1.t-HeroRegion-title button:first-child {
    margin-left         : 1.5rem !important;
}

/* BUTTONS FLOATING RIGHT */
.t-Button.u-pullRight {
    margin              : 0.2rem 0 0 0.25rem !important;
}
.t-Button.u-pullRight:last-child {
    margin-right        : 0 !important;
}



/* BUTTON BADGES */
BUTTON .BADGE {
    display             : block;
    float               : right;
    position            : absolute;
    right               : 0.5rem;
    top                 : -0.6rem;
    background          : red;
    color               : white;
    border-radius       : 15px 15px;
    margin              : 0;
    padding             : 0.1rem 0.45rem 0;
    font-family         : 'Roboto', sans-serif;
    font-size           : 0.75rem;
    line-height         : 1.2rem;
}
.RED {
    color               : red;
}

/* OVERRIDE MENU BADGES WITH SAME STYLE */
#t_Header > #top_header > nav ul li.RED {
    background          : red;
}
#t_Header > #top_header > nav ul li a > span.BADGE {
    position            : relative;
    top                 : -0.65rem;
    padding             : 0.1rem 0.45rem 0;
    margin              : 0 -0.25rem 0 0.25rem;
    border-radius       : 15px 15px;
    background          : red;
    color               : #fff;
    font-family         : 'Roboto', sans-serif;
    font-weight         : 500;
    font-size           : 0.75rem;
    line-height         : 1.15rem;
}



/* FIX TABS HEIGHT */
.t-TabsRegion-items {
   min-height           : auto !important;
}

/* REMOVE OUTLINE FROM ACTIVE TABS */
ul.t-Tabs li.t-Tabs-item a.t-Tabs-link {
    outline             : none !important;
}

/* TABS COLOR BORDER AND SOME SPACING ADJUSTMENTS */
ul.t-Tabs {
    margin-bottom       : 0.5rem;
}
ul.t-Tabs .t-Tabs-link {
    padding-bottom      : 0.5rem;
    background          : transparent;
}
ul.t-Tabs .is-active .t-Tabs-link {
    outline             : none;
    box-shadow          : none;
    border-bottom       : 5px solid #555;
    font-weight         : 600;
}
ul.t-Tabs li.t-Tabs-item a.t-Tabs-link:hover {
    background          : transparent;
    border-bottom       : 5px solid #555 !important;
    font-weight         : 600;
}
.t-TabsRegion-items > div {
    display             : none;
}
.t-TabsRegion-items > div.apex-rds-slider {
    display             : block;
}
a.t-Tabs-link::before {
    display             : none;  /* remove dupe green border */
}



/* CARDS - HIDE BACKGROUND FOR BUTTONS */
.a-CardView-actions {
    background          : transparent;
    padding-top         : 0;
}
.CLEAR_ACTIONS .a-CardView-media.a-CardView-media--body.a-CardView-media--fit {
    margin-left         : 0;
    margin-right        : 0;
}

/* CARDS - SHOW BADGE AT TOP + FIX TOO MUCH SPACE BEFORE HEADER AND BODY */
.a-CardView-header {
    align-items         : flex-start;
    padding-bottom      : 0;
}

/* CARDS - ADD SPACE TO SEE OUTLINE */
ul.a-CardView-items {
    padding             : 2px;
}


    
/* FIX READ ONLY LABELS ON FORM TEXTAREA */
.apex-item-wrapper--display-only label {
    background: transparent !important;
}
.apex-item-wrapper--display-only label::before {
    background: transparent !important;
}



/* HIDE USELESS EDIT BUTTON ON IG */
div.a-Toolbar-group [data-action="edit"] {
    display             : none !important;
}



/* GRID CONTROL BREAK */
.a-GV-controlBreak .a-GV-controlBreakLabel {
    font-size           : 120%;
    color               : #333;
}
.a-GV-controlBreak .a-GV-controlBreakLabel .a-GV-breakValue {
    font-weight         : bold;
}



/* FIX WRONG OFFSET FOR ICONS ON GRID */
.a-GV-bdy span.fa {
    margin              : 0.125rem 0.2rem 0;
}



/* FIX MISSING BORDER ON GRID HEADER */
th.a-GV-header {
    border-left         : 1px solid var(--a-gv-header-cell-border-color);
    border-bottom       : 2px solid var(--a-gv-header-cell-border-color);
}



/* BORDERLESS COLORFUL CELL IN IG/IR */
.COLOR_CELL,
.COLOR_CELL_LEFT {
    padding             : 0 !important;
    margin              : 0 !important;
    border-radius       : 4px;
}
.COLOR_CELL > *,
.COLOR_CELL_LEFT > * {
    display             : flex;
    align-items         : center;
    justify-content     : center;
    min-height          : 2.5rem;
    padding-left        : 0.8rem;
    padding-right       : 0.8rem;
}
.COLOR_CELL_LEFT > * {
    justify-content     : flex-start;
}



/* CHECKLISTS */
ul.DASH_LIST {
  list-style-type       : none;
  margin                : 0.5rem 0 0.5rem 3rem;
}
ul.DASH_LIST li:before {
  content               : '\2014';
  position              : absolute;
  margin                : 0 3rem 0 -1.5rem;
}



/* SELECTED TEXT BACKGROUND */
::selection {
  color                 : #fff;
  background            : #555;
}



/* NOTIFICATIONS */
span.apex-page-error *,
span.apex-page-error .a-Notification-item,
span.apex-page-success * {
    color               : #fff !important;
    font-family         : 'Roboto', sans-serif;
    font-size           : 1.1rem;
    font-weight         : bold;
    line-height         : 1.5rem;
}
span.apex-page-error .a-Notification-title {
    display             : none;
    margin              : 1rem 0 !important;
}
span.apex-page-error ul.a-Notification-list {
    list-style          : none !important;
    list-style-type     : none !important;
}
span.apex-page-error .a-Notification-list {
    margin              : 0.8rem 0 !important;
}
span.apex-page-error .a-Notification-item {
    margin-left         : -20px !important;
}

/* ICON */
span.apex-page-error .t-Alert-icon .t-Icon,
span.apex-page-success .t-Alert-icon .t-Icon {
    color               : #fff !important;
    font-size           : 2rem;
    background          : transparent;
    padding             : 1rem 2.5rem 1rem 0.5rem;
}

/* COLORS */
span.apex-page-success .t-Alert.t-Alert--success {
    background          : #518D54 !important;
}
span.apex-page-error .t-Alert--colorBG.t-Alert--warning {
    background          : #C9261D;
}
span.apex-page-error .t-Alert--colorBG.t-Alert--yellow {
    background          : #ecad01;
}

/* WARNING NOTIFICATION */
button.a-Button.a-Button--notification.js-showDetails {
    background          : transparent;
    border              : 0;
    outline             : none;
}

/** fa fa-info-circle */
.t-Alert--horizontal .t-Alert-buttons {
    align-items         : end;
}



/* ADJUST FONTS ON BUTTONS AND MENUS */
button .t-Button-label,
button .a-Button-label,
#t_Header > #top_header > nav ul li a,
#t_Header > #top_header > nav ul li span,
.a-CardView-subTitle,
#t_Footer .t-Footer-version {
    font-family         : 'Roboto Slab', sans-serif;
    font-size           : 0.9rem;
}
#t_Header > #top_header > nav ul li a.SECOND_LEVEL span {
    font-size           : 0.85rem;
}
.a-CardView-subTitle,
#t_Footer .t-Footer-version {
    font-size           : 0.85rem;
    color               : #555;
}
#t_Footer .BUTTON {
    font-family         : 'Roboto Slab', sans-serif;
    font-size           : 0.85rem;
    width               : auto;
    margin-right        : 0.25rem;
}



/* HIDE BOTTOM IMAGE ON BREADCRUMB BAR */
#t_Body_title.t-Body-title {
    border              : 0;
}
#t_Body_title.t-Body-title::after {
    background-image    : none;
    display             : none !important;
}

