.HIDDEN {
    display             : none;
}

/**
 * NAVIGATION TOP BAR
 */
#t_Header {
    height              : 3rem; /* BAR_HEIGHT */
    line-height         : 2.5rem;
}
#t_Header > #top_header,
#t_Header > #top_header * {
    user-drag           : none;
    -moz-user-select    : none;
    -webkit-user-drag   : none;
    -moz-user-drag      : none;
    margin              : 0;
    padding             : 0;
    color               : #fff;
    font-size           : 1rem;
    line-height         : 1rem;
    user-select         : none;
}
#t_Header > #top_header {
    width               : 100%;
    height              : 3rem; /* BAR_HEIGHT */
    position            : fixed;
    top                 : 0;
    z-index             : 1000;
}
#t_Header > #top_header nav {
    display             : flex;
    flex-direction      : row;
    flex-wrap           : nowrap;
    justify-content     : space-between;
    align-items         : stretch;
}
#t_Header > #top_header nav > * {
    flex-grow           : 0;
}



/**
 * NAVIGATION MENUS
 */
#t_Header > #top_header,
#t_Header > #top_header > nav ul li {
    background          : #3f3d33;
    color               : #fff;
}
#t_Header > #top_header > nav ul li > span {
    display             : block;
    padding             : 1rem 1rem;
    line-height         : 1rem;
    font-size           : 1rem;
    font-style          : normal;
    font-weight         : 400;
    white-space         : nowrap;
}
#t_Header > #top_header > nav a,
#t_Header > #top_header > nav a:hover {
    display             : block;
    padding             : 1rem 1rem;
    line-height         : 1rem;
    font-size           : 1rem;
    font-style          : normal;
    font-weight         : 400;
    text-decoration     : none;
    white-space         : nowrap;
    color               : #fff;
    outline             : none;
    max-height          : 3rem;
}
#t_Header > #top_header > nav a:hover {
    line-height         : 0.95rem; /* FOR SOME REASON IT MOVES ON HOVER */
    background          : #222;
}



/**
 * DROPDOWN LISTS
 */
#t_Header > #top_header > nav ul {
    list-style-type     : none;
}
#t_Header > #top_header > nav > ul > li {
    display             : block;
    float               : left;
    position            : relative;
}
#t_Header > #top_header > nav > ul > li > ul,
#t_Header > #top_header > nav > ul > li > div {
    display             : none;
    visibility          : hidden;
    position            : absolute;
    left                : 0;
    opacity             : 0;
    z-index             : 1000;
}
#t_Header > #top_header > nav ul li:hover > ul,
#t_Header > #top_header > nav ul li:hover > div {
    display             : block;
    visibility          : visible;
    opacity             : 1;
}

/* FIX RIGHT ALIGNMENT */
#t_Header > #top_header > nav ul li.RIGHT > div.WRAPPER {
    left                : auto;
    right               : 0;
}
#t_Header > #top_header > nav ul li.RIGHT_FIXED > div.WRAPPER {
    position            : fixed;
    right               : 0;
    left                : auto;
}



/**
 * MULTICOLUMN SUPPORT
 */
#t_Header > #top_header > nav ul li div.COLUMNS {
    display             : flex !important;
    flex-direction      : row;
    background          : #3f3d33;
}
#t_Header > #top_header > nav ul li div.COLUMNS ul li {
    width               : 100%;
}
#t_Header > #top_header > nav ul li.MULTICOLUMN div.COLUMNS {
    padding-bottom      : 2rem;
}
#t_Header > #top_header > nav ul li.MULTICOLUMN div.COLUMNS ul > li > * {
    padding-right       : 3rem;
}



/**
 * ACTIVE ITEMS OVERWRITE
 */
#t_Header > #top_header > nav ul li.ACTIVE,
#t_Header > #top_header > nav ul li.ACTIVE:hover {
    background          : #222;
}
#t_Header > #top_header > nav ul li.ACTIVE > a,
#t_Header > #top_header > nav ul li.ACTIVE > span {
    font-weight         : 600 !important;
}

/* ADJUST BADGES */
#t_Header > #top_header > nav a > span.BADGE,
#t_Header > #top_header > nav a:hover > span.BADGE {
    position            : relative;
    top                 : -0.5rem;
    margin              : 0 -0.5rem 0 0.25rem;
    padding             : 0.2rem 0.4rem 0.1rem;
    font-size           : 0.75rem;
    border-radius       : 1rem 1rem;
    font-family         : "Roboto", sans-serif;
    font-weight         : 500;
    background          : red;
    color               : #fff;
}
#t_Header > #top_header > nav a > span.BADGE.DECENT,
#t_Header > #top_header > nav a:hover > span.BADGE.DECENT {
    background          : transparent;
}
#t_Header > #top_header > nav ul li.ACTIVE span.BADGE {
    font-weight         : 500 !important;
}

/* ADJUST LEVEL 3 ITEMS */
#t_Header > #top_header > nav a.NAV_L3 {
    padding             : 0.7rem 2rem 0.7rem 2.8rem;
    font-size           : 0.85rem !important;
    line-height         : 0.8rem !important;
}
#t_Header > #top_header > nav a.NAV_L3 > span {
    font-size           : 0.85rem !important;
    line-height         : 0.8rem !important;
}

